@use '../../styles/globals' as *;
@use '../../styles/mixins' as m;

.theme{
    @include m.flexCenter(row,center);

    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    border: none;
    background-color: transparent;

    
    .icon_moon{
        color: var(--primary);
        font-size: 3rem;
    }

    .icon_sun{
        color: white;
        font-size: 3rem;
    }
}