
//light-theme
:root {
  --background: #f3eae5;
  --primary: #a46b9e;
  --secondary: #f9f2fa;
  --outline: #d9d9d9;
  --error: #cc0000;
}


//dark-theme
[data-theme="dark"] {
  --background: #000000;
  --primary: #a46b9e;
  --secondary: #f9f2fa;
  --outline: #d9d9d9;
  --error: #cc0000;
}
