@use '../../styles/globals' as *;

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    &_field{
        outline: none;
        border: 0.125rem solid var(--outline);
        border-radius: 0.25rem;
        padding: 1rem 0.5rem;
        font-size: 1rem;
    }

    &_label{
        font-size: 0.8rem;
        font-weight: 700;
    }

    &_error{
        color: red;
    }
}

.error_input{
    border: 0.125rem solid var(--error);
}